<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>dailogue</center>
    <h1>adavalameda chaivesi veepu neemiryadu naa medha
        chai veyaboyadu vellu narikesaaa!!!
    </h1>
    <h1><a href="{% url 'bahubali' %}">go to bahubali</a></h1>
    <h1><a href="{% url 'baahu:devasena' %}">go to devasena</a></h1>
</body>
</html>